<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.sedsoftware.comicser">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".ComicserApp"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <provider
      android:authorities="com.sedsoftware.comicser"
      android:exported="false"
      android:name=".data.source.local.ComicProvider"/>

    <activity
      android:name=".features.navigation.NavigationActivity"
      android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
      android:name=".features.issuedetails.IssueDetailsActivity"
      android:parentActivityName=".features.navigation.NavigationActivity"
      android:theme="@style/IssueDetails">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".features.navigation.NavigationActivity"/>
    </activity>
  </application>

</manifest>